# Postgres DB
DB_NAME="auto_rent"
DB_USER="admin"
DB_PASSWORD="123qwe"

# Owner Info
OWNER_NAME="Changiz"
OWNER_PASSWORD="123qwe"
OWNER_EMAIL="changiz@example.com"

# Port
BASE_URL="api/v1"
PORT="3000"

# Redis
REDIS_KEY_PREFIX="app"

# Client data
CLIENT_NAME="Auto Rent"

# JWT Secret
# type in terminal for create secres: node -e "console.log(require('crypto').randomBytes(64).toString('hex'));"
JWT_SECRET="4bf211211b5afe14b1f1f1cba277fa5ae13dfe8b3c2a58c0ba99a0ba77758842df55a9d289bb678913c32dd6665a51de7009bd3962fd5352f6674271ea85405a"

# JWT Expires
JWT_EXPIRES="1d"

# Email Config
EMAIL_SERVICE="gmail"
EMAIL_USER="your.email@gmail.com"
EMAIL_PASS="email.pass"
EMAIL_FROM="No Replay <noreplay@autorent.com>"
EMAIL_REPLAY="noreaplay@autorent.com"
EMAIL_HOST="smtp.gmail.com"
